{% extends 'web/base_main.html' %}


{% block title %}
    首页-Deaseyy个人博客
{% endblock %}


{% block css %}
{{ super() }}
<link rel="icon" href="/static/web/images/tomcat.ico" type="image/x-icon">
<link rel="shortcut icon" href="/static/web/images/tomcat.ico" type="image/x-icon">
{% endblock %}


{% block links %}
<div class="links">
    <h2>友情链接</h2>
    <ul>
       <a href="http://www.yangqq.com">杨青个人博客</a> <a href="http://www.yangqq.com">杨青博客</a>
    </ul>
</div>
{% endblock %}



{% block content %}
<div  class="r_box">

    <!--默认显示分页第一页-->
        {% if atcs %}
        <ul id="article">
          {% for atc in atcs %}
            <li>
              <i><a href="{{ url_for('web.show_atc', id=atc.id) }}"><img src="/static/web/images/2.jpg"></a></i>
              <h3><a href="{{ url_for('web.show_atc', id=atc.id) }}"> {{ atc.title }} </a></h3>
              <p>{{ atc.desc }}</p>
            </li>

          {% endfor %}
        </ul>
        {% endif %}

<div style="text-align: center;"> <a style="color: #0785d1;" href="{{ url_for('web.share') }}"> 查看更多>></a> </div>
</div>
{% endblock %}



{% block page %}

{% endblock %}



{% block js %}
<script src="/static/web/js/jquery.min.js">  </script>
<script src="/static/web/js/ydspage.js"></script>
{% endblock %}




