{% extends 'web/base_main.html' %}


{% block title %}
相册-个人博客
{% endblock %}



{% block about %}

{% endblock %}


{% block wdxc %}

{% endblock %}


{% block search %}

{% endblock %}


{% block fenlei %}

{% endblock %}


{% block content %}
<article>
  <div class="picbox">
    <ul>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/t03.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b04.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/v1.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/mb02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/text01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/v2.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b06.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
    </ul>
    <ul>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/zd01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b03.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/text02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/v1.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/mb02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/t01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/mb05.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b05.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
    </ul>
    <ul>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/text02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/v1.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/mb02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/text01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/t03.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b04.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
    </ul>
    <ul>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/zd01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b03.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/text02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/v1.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/mb02.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/t01.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/mb05.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
      <li data-scroll-reveal="enter bottom over 1s" ><a href="/"><i><img src="../../static/web/images/b05.jpg"></i>
        <div class="picinfo">
          <h3>个人博客模板《繁花》</h3>
          <span>好咖啡要和朋友一起品尝，好“模板”也要和同样喜欢它的人一起分享。</span> </div>
        </a></li>
    </ul>
  </div>
</article>
{% endblock %}


{% block js %}
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>
{% endblock %}